body {
  background: #000 center/cover url("screamingchild.jpg") no-repeat;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  display: relative;
  grid-auto-flow: dense;
  padding: 20px;
  justify-content: space-between;
  grid-gap: 20px;
  height: 100vh;
  border: 5px solid rgba(0, 0, 255, 0.321);

}


header {
  font-size: 24pt;
  display: flex;
  justify-content: center;
  border-radius: 5em;

}

h1 {
  display: flex;
  border: 100px;
  padding-left: 200px;
  flex-direction: row;
  border-radius: 5em;
}

.form {
  display: inline;
  justify-content: center;
  border-radius: 3em;
  border: 5px solid rgba(0, 0, 255, 0.321);
  font-size: 14pt;
  font-weight: bold;
  height: 150px;
  width: 150px;
}



.buy{
  display: flexbox;
    padding-left: 200px;
    margin-left: 350px;
    border-radius: 5em;
    padding: 5px;
}
.grocerylist {
  display: flex;
  padding-left: 200px;
  margin-left: 50px;
  border-radius: 5em;
  padding: 5px;
}


button {
  display: flex;
  font-size: 14pt;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5em;
  background-color: rgba(147, 236, 239, 0.529);
  border: 5px solid rgba(0, 0, 255, 0.321);
  width: 100px;
}

input {
  border-radius: 3em;
  height: 25px;
}