body {
  background: #000 center/cover url("screamingchild.jpg") no-repeat;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  display: grid;
  grid-auto-flow: dense;
  padding: 20px;
  justify-content: space-between;
  grid-gap: 20px;
  height: 100vh;
  border: 5px solid rgba(0, 0, 255, 0.321);

}

.nav {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  border-radius: 5em;
  background-color: rgba(240, 248, 255, 0.63);
  border: 5px solid rgba(0, 0, 255, 0.321);
  width: 200px;
}

header {
  font-size: 24pt;
  display: flex;
  justify-content: center;
  border-radius: 5em;

}

h1 {
  display: flex;
  border: 100px;
  padding-left: 200px;
  flex-direction: row;
  border-radius: 5em;
}

form {
  display: inline;
  justify-content: center;
  border-radius: 5em;
  border: 5px solid rgba(0, 0, 255, 0.321);

}

.hi {
  display: flex;
  align-items: left;
  flex-direction: column;
  border-radius: 5em;
  border: 5px solid rgba(0, 0, 255, 0.321);

}

.grocerylist {
  display: flex;
  align-items: left;
  padding: 3px;
  margin: 5px;
  flex-direction: column;
  border-radius: 5em;

}